# Environment variables
.env
.env.*

# macOS system files
.DS_Store
**/ .DS_Store

# Virtual environment
venv/
env/
ENV/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Audio files (if you want to ignore test audio)
*.mp3
*.wav
*.ogg 